## Loading data using Pandas

In [3]:
import pandas as pd

In [3]:
# read the csv file
df = pd.read_csv('pokemon_data.csv')
# df = pd.read_excel('pokemon_data.xlsx') --> read from excel file
# df = pd.read_csv('pokemon_data.txt', delimiter = '\t') --> read from txt file separated by tab
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [4]:
# peek into top specified # of rows in the dataset
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [5]:
# peek into bottom specified # of rows in the dataset
df.tail(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
# read column names
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
# read each column
print(df['Name'])
#print(df.Name) --> same as above but with the dot operator
#print(df['Name'].head()) --> can use indexing to access any required rows or columns

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [8]:
# read multiple columns
print(df[['Name', 'Type 2', 'Type 1']])

                      Name  Type 2   Type 1
0                Bulbasaur  Poison    Grass
1                  Ivysaur  Poison    Grass
2                 Venusaur  Poison    Grass
3    VenusaurMega Venusaur  Poison    Grass
4               Charmander     NaN     Fire
..                     ...     ...      ...
795                Diancie   Fairy     Rock
796    DiancieMega Diancie   Fairy     Rock
797    HoopaHoopa Confined   Ghost  Psychic
798     HoopaHoopa Unbound    Dark  Psychic
799              Volcanion   Water     Fire

[800 rows x 3 columns]

In [9]:
# read each row
print(df.iloc[1:10]) # location rows 0-10

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False

In [10]:
# read a specific location [r, c]
df.iloc[2, 1]

'Venusaur'

In [ ]:
# iterate through the dataset
for index, row in df.iterrows(): # index represents the row number and row represents the row itself
    print(index, row)
    
# can also access the required series directly
#for index, row in df.iterrows(): # index represents the row number and row represents the row itself
    #print(index, row['Name'])

In [12]:
# finding rows based on text or numerical data
df.loc[df['Type 1'] == 'Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

### Observations about data

In [13]:
# overview of data
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [14]:
# sort your dataframe
df.sort_values('Name')
# df.sort_values('Name', ascending = False) # sort in descinding order
# df.sort_values(['Name', 'Type 1', 'Type 2']) # sort per multiple columns
# df.sort_values(['Name', 'Type 1', 'Type 2'], ascending = [1, 0, 1]) # sorting order shoud be specified as an array while sort your dataframe based on multiple columns

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

### Changing data

In [15]:
# # adding new column (also called Series)
# df['Total'] = df['HP'] + df['Attack'] + df['Defense']
# df.head() 

# another way to do the same thing as above
df['Total'] = df.iloc[:, 4:10].sum(axis = 1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [16]:
# drop a column (Series)
df = df.drop(columns = ['Total'])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [17]:
#re-arrange the columns
cols = list(df.columns.values) # get the list of columns first
df = df[cols[0:4] + [cols[-1]] + cols[4:12]] # concatenate the lists accross columns
df.head()

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False

### Saving our data

In [19]:
# save to csv with index
df.to_csv('modified.csv')
# save to csv without index
df.to_csv('modified.csv', index = False)

# save to excel with index
df.to_excel('modified.xlsx')
# save to excel without index
df.to_excel('modified.xlsx', index = False)

# save to txt with index
df.to_csv('modified.txt', sep = '\t')
# save to txt without index
df.to_csv('modified.txt', index = False, sep = '\t')

### Filtering

In [23]:
# using df.loc to filter entries based on conditions
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] # & sign and operation in pandas
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')] # | sign for or operation in pandas

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,False,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,False,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,False,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,False,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False

In [22]:
# reset index on the resulting dataframes after performing operations
new_df = df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]
new_df.reset_index() # saves old index as a column
new_df.reset_index(drop=True) # drops indexes truly
new_df.reset_index(drop=True, inplace = True) # drops old index and resets in place

,index,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,16,13,Weedle,Bug,Poison,False,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,718,650,Chespin,Grass,NaN,False,56,61,65,48,45,38,6,False
85,719,651,Quilladin,Grass,NaN,False,61,78,95,56,58,57,6,False
86,720,652,Chesnaught,Grass,Fighting,False,88,107,122,74,75,64,6,False
87,740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
88,741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False

In [25]:
# using string functions
df.loc[df['Name'].str.contains('Mega')] # entries that contain 'Mega' in the Name series
df.loc[~df['Name'].str.contains('Mega')] # entries that do not contain 'Mega' in the Name series

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,False,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [27]:
# contains method also accepts regex
import re
df.loc[df['Type 1'].str.contains('fire|grass', flags = re.I, regex = True)] # retrieve entries that have values fire or grass for 'Type 1'. re.I -> ignore match case sensitivity

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,False,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

### Conditional Changes

In [31]:
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True # change the values of 'Legendary' series to true based on the 'Type 1' series
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,True,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

### Functions

In [44]:
# df.groupby
df.groupby(['Type 1']).mean() # group by 'Type 1' and get the mean of each 'Type 1'
df.groupby(['Type 1']).sum() # group by 'Type 1' and get the sum of each 'Type 1'
df.groupby(['Type 1']).count() # group by 'Type 1' and get the count of each 'Type 1'
df.groupby(['Type 1', 'Type 2']).count() # group by multiple columns

                    #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1   Type 2
Bug      Flying     1     1   1       1        1        1        1      1
         Steel      1     1   1       1        1        1        1      1
Dark     Flying     1     1   1       1        1        1        1      1
         Psychic    2     2   2       2        2        2        2      2
Dragon   Electric   1     1   1       1        1        1        1      1
         Fire       1     1   1       1        1        1        1      1
         Ground     1     1   1       1        1        1        1      1
         Ice        3     3   3       3        3        3        3      3
Electric Fairy      1     1   1       1        1        1        1      1
         Flying     2     2   2       2        2        2        2      2
         Normal     2     2   2       2        2        2        2      2
Fighting Dark       1     1   1       1        1        1        1      1
         Flying     1     1   1       1        1        1        1      1
Fire     Flying     2     2   2       2        2        2        2      2
         Normal     2     2   2       2        2        2        2      2
         Psychic    1     1   1       1        1        1        1      1
         Water      1     1   1       1        1        1        1      1
Flying   Dragon     2     2   2       2        2        2        2      2
Ghost    Grass     10    10  10      10       10       10       10     10
Grass    Fighting   2     2   2       2        2        2        2      2
Ground   Flying     2     2   2       2        2        2        2      2
Normal   Fighting   1     1   1       1        1        1        1      1
         Flying     1     1   1       1        1        1        1      1
         Ground     1     1   1       1        1        1        1      1
         Psychic    1     1   1       1        1        1        1      1
Poison   Dragon     1     1   1       1        1        1        1      1
         Water      1     1   1       1        1        1        1      1
Psychic  Dark       1     1   1       1        1        1        1      1
         Ghost      1     1   1       1        1        1        1      1
Rock     Dragon     2     2   2       2        2        2        2      2
         Fairy      3     3   3       3        3        3        3      3
         Fighting   1     1   1       1        1        1        1      1
         Ice        2     2   2       2        2        2        2      2
         Water      2     2   2       2        2        2        2      2
Steel    Fairy      1     1   1       1        1        1        1      1
         Ghost      4     4   4       4        4        4        4      4
Water    Dark       1     1   1       1        1        1        1      1
         Fighting   2     2   2       2        2        2        2      2

                   Generation  Legendary
Type 1   Type 2
Bug      Flying             1          1
         Steel              1          1
Dark     Flying             1          1
         Psychic            2          2
Dragon   Electric           1          1
         Fire               1          1
         Ground             1          1
         Ice                3          3
Electric Fairy              1          1
         Flying             2          2
         Normal             2          2
Fighting Dark               1          1
         Flying             1          1
Fire     Flying             2          2
         Normal             2          2
         Psychic            1          1
         Water              1          1
Flying   Dragon             2          2
Ghost    Grass             10         10
Grass    Fighting           2          2
Ground   Flying             2          2
Normal   Fighting           1          1
         Flying             1          1
         Ground             1          1
         Psychic            1          1
Poison   Dragon             1          1
         Water              1          1
Psychic  Dark               1          1
         Ghost              1          1
Rock     Dragon             2          2
         Fairy              3          3
         Fighting           1          1
         Ice                2          2
         Water              2          2
Steel    Fairy              1          1
         Ghost              4          4
Water    Dark               1          1
         Fighting           2          2

### When there is lots of data

In [42]:
# use 'chunksize' property to import dataset in chunks
new_df = pd.DataFrame(columns = df.columns)
for df in pd.read_csv('pokemon_data.csv', chunksize = 100): # read 100 rows each time
    print(df)
    print('----------')
    new_df = pd.concat([new_df, df]) # pd.concat() to concat two dataframes
print(new_df.shape)

     #                   Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0    1              Bulbasaur   Grass  Poison   45      49       49       65
1    2                Ivysaur   Grass  Poison   60      62       63       80
2    3               Venusaur   Grass  Poison   80      82       83      100
3    3  VenusaurMega Venusaur   Grass  Poison   80     100      123      122
4    4             Charmander    Fire     NaN   39      52       43       60
..  ..                    ...     ...     ...  ...     ...      ...      ...
95  88                 Grimer  Poison     NaN   80      80       50       40
96  89                    Muk  Poison     NaN  105     105       75       65
97  90               Shellder   Water     NaN   30      65      100       45
98  91               Cloyster   Water     Ice   50      95      180       85
99  92                 Gastly   Ghost  Poison   30      35       30      100

    Sp. Def  Speed  Generation  Legendary
0        65     45           1      False
1        80     60           1      False
2       100     80           1      False
3       120     80           1      False
4        50     65           1      False
..      ...    ...         ...        ...
95       50     25           1      False
96      100     50           1      False
97       25     40           1      False
98       45     70           1      False
99       35     80           1      False

[100 rows x 12 columns]
----------
       #                   Name    Type 1  Type 2   HP  Attack  Defense  \
100   93                Haunter     Ghost  Poison   45      50       45
101   94                 Gengar     Ghost  Poison   60      65       60
102   94      GengarMega Gengar     Ghost  Poison   60      65       80
103   95                   Onix      Rock  Ground   35      45      160
104   96                Drowzee   Psychic     NaN   60      48       45
..   ...                    ...       ...     ...  ...     ...      ...
195  181               Ampharos  Electric     NaN   90      75       85
196  181  AmpharosMega Ampharos  Electric  Dragon   90      95      105
197  182              Bellossom     Grass     NaN   75      80       95
198  183                 Marill     Water   Fairy   70      20       50
199  184              Azumarill     Water   Fairy  100      50       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
100      115       55     95           1      False
101      130       75    110           1      False
102      170       95    130           1      False
103       30       45     70           1      False
104       43       90     42           1      False
..       ...      ...    ...         ...        ...
195      115       90     55           2      False
196      165      110     45           2      False
197       90      100     50           2      False
198       20       50     40           2      False
199       60       80     50           2      False

[100 rows x 12 columns]
----------
       #       Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
200  185  Sudowoodo    Rock     NaN  70     100      115       30       65
201  186   Politoed   Water     NaN  90      75       75       90      100
202  187     Hoppip   Grass  Flying  35      35       40       35       55
203  188   Skiploom   Grass  Flying  55      45       50       45       65
204  189   Jumpluff   Grass  Flying  75      55       70       55       95
..   ...        ...     ...     ...  ..     ...      ...      ...      ...
295  272   Ludicolo   Water   Grass  80      70       70       90      100
296  273     Seedot   Grass     NaN  40      40       50       30       30
297  274    Nuzleaf   Grass    Dark  70      70       40       60       40
298  275    Shiftry   Grass    Dark  90     100       60       90       60
299  276    Taillow  Normal  Flying  40      55       30       30       30

     Speed  Generation  Legendary
200     30           2      False
201     70           2      False
202     50           2      False
203     80           2      False
204    110           2      False
..     ...         ...        ...
295     70           3      False
296     30           3      False
297     60           3      False
298     80           3      False
299     85           3      False

[100 rows x 12 columns]
----------
       #               Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
300  277            Swellow   Normal  Flying  60      85       60       50
301  278            Wingull    Water  Flying  40      30       30       55
302  279           Pelipper    Water  Flying  60      50      100       85
303  280              Ralts  Psychic   Fairy  28      25       25       45
304  281             Kirlia  Psychic   Fairy  38      35       35       65
..   ...                ...      ...     ...  ..     ...      ...      ...
395  361            Snorunt      Ice     NaN  50      50       50       50
396  362             Glalie      Ice     NaN  80      80       80       80
397  362  GlalieMega Glalie      Ice     NaN  80     120       80      120
398  363             Spheal      Ice   Water  70      40       50       55
399  364             Sealeo      Ice   Water  90      60       70       75

     Sp. Def  Speed  Generation  Legendary
300       50    125           3      False
301       30     85           3      False
302       70     65           3      False
303       35     40           3      False
304       55     50           3      False
..       ...    ...         ...        ...
395       50     50           3      False
396       80     80           3      False
397       80    100           3      False
398       50     25           3      False
399       70     45           3      False

[100 rows x 12 columns]
----------
       #                 Name    Type 1 Type 2   HP  Attack  Defense  Sp. Atk  \
400  365              Walrein       Ice  Water  110      80       90       95
401  366             Clamperl     Water    NaN   35      64       85       74
402  367              Huntail     Water    NaN   55     104      105       94
403  368             Gorebyss     Water    NaN   55      84      105      114
404  369            Relicanth     Water   Rock  100      90      130       45
..   ...                  ...       ...    ...  ...     ...      ...      ...
495  446             Munchlax    Normal    NaN  135      85       40       40
496  447                Riolu  Fighting    NaN   40      70       40       35
497  448              Lucario  Fighting  Steel   70     110       70      115
498  448  LucarioMega Lucario  Fighting  Steel   70     145       88      140
499  449           Hippopotas    Ground    NaN   68      72       78       38

     Sp. Def  Speed  Generation  Legendary
400       90     65           3      False
401       55     32           3      False
402       75     52           3      False
403       75     52           3      False
404       65     55           3      False
..       ...    ...         ...        ...
495       85      5           4      False
496       40     60           4      False
497       70     90           4      False
498       70    112           4      False
499       42     32           4      False

[100 rows x 12 columns]
----------
       #        Name    Type 1    Type 2   HP  Attack  Defense  Sp. Atk  \
500  450   Hippowdon    Ground       NaN  108     112      118       68
501  451     Skorupi    Poison       Bug   40      50       90       30
502  452     Drapion    Poison      Dark   70      90      110       60
503  453    Croagunk    Poison  Fighting   48      61       40       61
504  454   Toxicroak    Poison  Fighting   83     106       65       86
..   ...         ...       ...       ...  ...     ...      ...      ...
595  535     Tympole     Water       NaN   50      50       40       50
596  536   Palpitoad     Water    Ground   75      65       55       65
597  537  Seismitoad     Water    Ground  105      95       75       85
598  538       Throh  Fighting       NaN  120     100       85       30
599  539        Sawk  Fighting       NaN   75     125       75       30

     Sp. Def  Speed  Generation  Legendary
500       72     47           4      False
501       55     65           4      False
502       75     95           4      False
503       40     50           4      False
504       65     85           4      False
..       ...    ...         ...        ...
595       40     64           5      False
596       55     69           5      False
597       75     74           5      False
598       85     45           5      False
599       75     85           5      False

[100 rows x 12 columns]
----------
       #        Name Type 1    Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
600  540    Sewaddle    Bug     Grass  45      53       70       40       60
601  541    Swadloon    Bug     Grass  55      63       90       50       80
602  542    Leavanny    Bug     Grass  75     103       80       70       80
603  543    Venipede    Bug    Poison  30      45       59       30       39
604  544  Whirlipede    Bug    Poison  40      55       99       40       79
..   ...         ...    ...       ...  ..     ...      ...      ...      ...
695  634    Zweilous   Dark    Dragon  72      85       70       65       70
696  635   Hydreigon   Dark    Dragon  92     105       90      125       90
697  636    Larvesta    Bug      Fire  55      85       55       50       55
698  637   Volcarona    Bug      Fire  85      60       65      135      105
699  638    Cobalion  Steel  Fighting  91      90      129       90       72

     Speed  Generation  Legendary
600     42           5      False
601     42           5      False
602     92           5      False
603     57           5      False
604     47           5      False
..     ...         ...        ...
695     58           5      False
696     98           5      False
697     60           5      False
698    100           5      False
699    108           5       True

[100 rows x 12 columns]
----------
       #                      Name    Type 1    Type 2  HP  Attack  Defense  \
700  639                 Terrakion      Rock  Fighting  91     129       90
701  640                  Virizion     Grass  Fighting  91      90       72
702  641   TornadusIncarnate Forme    Flying       NaN  79     115       70
703  641     TornadusTherian Forme    Flying       NaN  79     100       80
704  642  ThundurusIncarnate Forme  Electric    Flying  79     115       70
..   ...                       ...       ...       ...  ..     ...      ...
795  719                   Diancie      Rock     Fairy  50     100      150
796  719       DiancieMega Diancie      Rock     Fairy  50     160      110
797  720       HoopaHoopa Confined   Psychic     Ghost  80     110       60
798  720        HoopaHoopa Unbound   Psychic      Dark  80     160       60
799  721                 Volcanion      Fire     Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
700       72       90    108           5       True
701       90      129    108           5       True
702      125       80    111           5       True
703      110       90    121           5       True
704      125       80    111           5       True
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[100 rows x 12 columns]
----------
(800, 12)

### Room for more

In [8]:
# generate date range using pandas bdate_range
import datetime
holidays = [datetime.datetime(2020, 5, 25), datetime.datetime(2020, 8, 19)]
print(pd.bdate_range(start = '5/20/2020', end = '8/19/2020', freq = 'C', holidays = holidays))
# 'freq' offsets available at https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

DatetimeIndex(['2020-05-20', '2020-05-21', '2020-05-22', '2020-05-26',
               '2020-05-27', '2020-05-28', '2020-05-29', '2020-06-01',
               '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05',
               '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
               '2020-06-12', '2020-06-15', '2020-06-16', '2020-06-17',
               '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
               '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29',
               '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-03',
               '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09',
               '2020-07-10', '2020-07-13', '2020-07-14', '2020-07-15',
               '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21',
               '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-27',
               '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31',
               '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
               '2020-08-07', '2020-08-10', '2020-08-11', '2020-08-12',
               '2020-08-13', '2020-08-14', '2020-08-17', '2020-08-18'],
              dtype='datetime64[ns]', freq='C')